<!-- Banner -->
<div class="banner">
	<!-- Title -->
	<p class="banner__title">Седона &mdash; небольшой городок в Аризоне,<br> заслуживающий большего!</p>
	<!-- Subtitle -->
	<p class="banner__subtitle">Рассмотрим 5 причин, по которым Седона круче, чем Гранд Каньон!</p>
</div>
