<!-- Board -->
<div class="board">
	<img class="board__img" src="img/sedona-food.png"></img>
	<h2 class="board__title">Еда</h2>
	<p class="board__paragraph">
		Всегда заказывайте фирменный бургер,<br>вы не разочаруетесь!
	</p>
</div>
