<!-- Cell -->
<div class="cell">
	<!-- Title -->
	<h2 class="cell__title">Там есть<br> мост дьявола</h2>
	<!-- Subtitle -->
	<p class="cell__subtitle">&mdash; №2 &mdash;</p>
	<!-- Paragraph -->
	<p class="cell__paragraph">
		Да, по нему можно пройти!<br> если конечно вы осмелитсь
	</p>
</div>
