<!-- Cell -->
<div class="cell cell-left cell-gray">
	<!-- Title -->
	<h2 class="cell__title cell-gray__title">Небольшая<br> площадь</h2>
	<!-- Subtitle -->
	<p class="cell__subtitle cell-gray__subtitle">&mdash; №3 &mdash;</p>
	<!-- Paragraph -->
	<p class="cell__paragraph cell-gray__paragraph">
		Все достопримеча-<br> тельности находятся очень близко
	</p>
</div>
