<!-- Cell -->
<div class="cell cell-gray">
	<!-- Title -->
	<h2 class="cell__title cell-gray__title">Красивая<br> дорога</h2>
	<!-- Subtitle -->
	<p class="cell__subtitle cell-gray__subtitle">&mdash; №4 &mdash;</p>
	<!-- Paragraph -->
	<p class="cell__paragraph cell-gray__paragraph">
		Ехать в Седону из Лас-Вегаса совсем<br> не скучно!
	</p>
</div>
