<!-- Cell -->
<div class="cell cell-left">
	<!-- Title -->
	<h2 class="cell__title">Настоящий<br> городок</h2>
	<!-- Subtitle -->
	<p class="cell__subtitle">&mdash; №1 &mdash;</p>
	<!-- Paragraph -->
	<p class="cell__paragraph">
		Седона &mdash; не аттракцион для туристов,<br> там течет своя жизнь
	</p>
</div>
