<!-- Cell -->
<div class="cell cell-gray">
	<!-- Title -->
	<h2 class="cell__title cell-gray__title">Мало<br> туристов</h2>
	<!-- Subtitle -->
	<p class="cell__subtitle cell-gray__subtitle">&mdash; №5 &mdash;</p>
	<!-- Paragraph -->
	<p class="cell__paragraph cell-gray__paragraph">
		Большинство едет в гранд каньон и<br> толпится там
	</p>
</div>
