<!-- main-menu -->
<header class="main-menu">
		<!-- List -->
		<nav class="main-menu__list clearfix">
			<!-- Item -->
			<a class="main-menu__item main-menu__item-left" href="#">
				Информация
			</a>
			<!-- Item -->
			<a class="main-menu__item main-menu__item-left" href="#">
				Фото и видео
			</a>
			<!-- Item -->
			<a class="main-menu__item main-menu__item-right" href="#">
				Гостиницы
			</a>
			<!-- Item -->
			<a class="main-menu__item main-menu__item-right" href="#">
				Карта штата
			</a>
		</nav>
</header>
